.app-container {
  align-items: center;
  justify-content: center;
}

.card-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 3rem;
  left: 1rem;
  transition: .5s ease;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.navigation {
  width: 100px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: .5rem;
}

.nav-btn {
  background: transparent;
  color: var(--text);
  display: flex;
  align-items: center;
  font-size: 2rem;
  border: none;
  transition: 0.2s;
}

.nav-btn:hover:not(:disabled),
.nav-btn:active:not(:disabled) {
  color: var(--accent-primary);
  cursor: pointer;
}

.nav-btn:disabled {
  opacity: 0.5;
}
