.section {
  color: #fff;
  transition: 0.5s ease;
  border-bottom: 1px solid rgb(91, 106, 187);
  margin: 0 1rem;
  padding: 1rem;
}

.section:last-of-type {
  border: none;
}

.about {
  opacity: 0;
}

.hidden {
  transform: translateX(-100%);
}

.show {
  transform: translateX(0%);
}

.fade-in {
  opacity: 1;
}
