.section {
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.5s ease;
}

.about {
  opacity: 0;
}

.hidden {
  transform: translateX(-100%);
}

.show {
  transform: translateX(0%);
}

.fade-in {
  opacity: 1;
}
