.view {
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
}

.component {
  position: relative;
}

.flex-row {
  display  : flex;
  flex-flow: row nowrap;
}

.flex-col {
  display  : flex;
  flex-flow: column nowrap;
}

.flex {
  flex: 1 1 auto;
}

.zzz {
  border: 1px solid red;
}